html, body {
  margin: 0 ;
  height: 100%;
}

.main-site {
  background: url('images/.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: black;
  height: 100%;
}

.logo-name {
  position: relative;
  box-sizing: content-box;
  display: block;
}

.crim-bar {
  box-sizing: border-box;
}

.navi-bar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  height: 40px;
  overflow: hidden;
  background-color: white;
}

.item00 {
  font-family: 'Lemonada', cursive;
  text-align: center;
  font-size: 35px;
  margin-top: 10px;
}

.left-bar {
  float: left;
}

.left-list {
  list-style-type: none;
  margin: 0;
  margin-top: 250px;
  padding: 0;
  width: 330px;
  height: 300px;
  border-right: 3px solid white;
  text-align: center;
  box-sizing: content-box;
}

.item1, .item2 {
  display: block;
  padding: 8px 16px;
  text-decoration: none;
  font-size: 20px;
  color: white;
}

.right-bar {
  float: right;
}

.right-list {
  list-style-type: none;
  margin: 0;
  margin-top: 250px;
  padding: 0;
  width: 330px;
  height: 300px;
  border-left: 3px solid white;
  text-align: center;
  box-sizing: content-box;
}

.item3, .item4 {
  display: block;
  padding: 8px 16px;
  text-decoration: none;
  font-size: 20px;
  color: white;
}

.list-items {
  position: relative;
  width: 500px;
  height: 600px;
  margin: 0 auto;
  padding: 120px;
  box-sizing: content-box;
}

.bot-sun {
  position: absolute;
  bottom: 250px;
  width: 500px;
}

.left-sun {
  float: left;
  width: 250px;
}

.sun-txt {
  color: white;
  text-align: center;
  font-size: 20px;
}

.right-sun {
  float: right;
  width: 250px;
}

.rise-txt {
  color: white;
  text-align: center;
  font-size: 20px;
}

.city-field {
  margin-top: 120px;
  height: 280px;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  background: rgba(0,0,0,0.7);
}

.weat-block {
  margin-top: 100px;
  height: 250px;
  position: relative;
}

.city-w {
  font-family: 'Montserrat';
  font-size: 28px;
  color: white;
  text-align: center;
}

.temp-w {
  font-family: 'Montserrat';
  font-size: 23px;
  color: white;
  text-align: center;
}

.weat-w {
  font-family: 'Montserrat';
  font-size: 18px;
  color: white;
  text-align: center;
}

.icon-w{
  float: left;
  position: absolute;
  top: -90px;
  left: 200px;

}

.botter {
  margin: 0;
  padding: 0;
  height: 40px;
  background-color: white;
  margin-top: 56px;
}
