@import "fontello.css";
* {
  box-sizing: border-box;
}

body {
  font-family: arial;
  background-color: #d9d9d9;
  margin: 0;

}

.head-top {
  height: 45px;
  background-color: black;
  box-shadow: 15px 0px 15px grey;
  opacity: 0.7;
  filter: alpha(opacity=50);
}

h1 {
  color: white;
  text-align: center;

}

.time-top {
  float: right;
  font-size: 14px;
  color: white;
  padding: 7px;
}

.date-top {
  float: right;
  font-size: 14px;
  color: white;
  padding: 7px;
}

.logo {
  float: left;
}

.middle-art {
  box-shadow: 0px 4px 8px grey;
}

.form-top {
  text-align: center;
}

#id_name {
  font-size: 20px;
  border: 1px solid black;
  border-radius: 4px;
  background-color: white;
  height: 52px;
  width: 658px;
  margin-top: 50px;
  margin-left: 146px;
  padding: 20px;
  box-shadow: 0px 2px 8px grey;
}

.middle-content {
  text-align: center;
  width: 100%;
  background-image: url("images/meadow.jpg");
  background-repeat: no-repeat;
  background-position: center;
}


.hori-elements {
  padding: 20px;
}

.item001, .item002, .item003, .item004, .item005 {
  margin-left: 15px;
  border-radius: 5px;
  width: 310px;
  height: 35px;
  background: rgba(217, 217, 217, 0.5);
  box-shadow: 0px 2px 8px grey;
  display: inline-block;
}

.place-n, .img-weat, .degrees {
  display: inline-block;
  position: relative;
  bottom: 7px;
}

.place-n {
  padding-right: 20px;
}

h3 {
  font-size: 18px;
}

.betwen-content {
  text-align: center;
  margin: 0 auto;
  width: 1450px;
  height: 250px;
  background: white;
  box-shadow: 0px 4px 8px grey;
}

.betwen-content:after {
  content: "";
  display: table;
  clear: both;
}

.actual-weat-block {
  float: left;
  width: 73%;
  margin: auto;
}

.cit-details {
  background: #99d6ff;
  border-radius: 20px;
  height: 140px;
  width: 1020px;
  margin-left: 20px;
}

h4 {
  font-size: 25px;
}

.cit-acu-name {
  padding-right: 40px;
  border-right: 2px dashed grey;
}
.town-txt {
  font-size: 27px
}

.country-txt {
  font-size: 15px;
}

.weat-img-deg {
  line-height: 10px;
  padding-right: 30px;
  border-right: 2px dashed grey;
}

.cit-acu-name, .weat-img-deg, .weat-det-tbl, .weat-rise-set {
  display: inline-block;
  height: 110px;
  margin-top: 15px;
  overflow: hidden;
}

.det-img {
  display: inline-block;
  padding: 10px;
}

.degrees-det {
  display: inline-block;
  font-size: 38px;
  position: relative;
  bottom: 25px;
}

.desc-deg {
  font-size: 14px;
  position: relative;
  bottom: 25px;
}

.weat-det-tbl {
  border-right: 2px dashed grey;
}

.tbl-det-01{
  padding-left: 5px;
  line-height: 17px;
  width: 190px;
}

.weat-rise-set {
  padding-left: 25px;
  line-height: 17px;
}

.sunrise-det {
  display: inline-block;
  padding-right: 35px;
}

.sunset-det {
  display: inline-block;
}

.det-right-men {
  text-align: center;
  float: left;
  width: 27%;
  border-left: 2px solid black;
  height: 250px;
}

.image-con-lft {
  border-radius: 100%;
  height: 100px;
  width: 100px;
}

.bottom-content {
  text-align: center;
  margin: 0 auto;
  width: 1450px;
  background: white;
  box-shadow: 0px 4px 8px grey;
}

.foreca-colums {
  float: left;
  width: 73%;
}

.foreca-colums-conten {
  width: 980px;
  height: 350px;
  margin-left: 45px;
}

.column01 {
  float: left;
  background: #99d6ff;
  border-radius: 20px;
}

.column02 {
  float: left;
  background: #99d6ff;
  border-radius: 20px;
}

.bot-right-men {
  float: left;
  width: 27%;
  border-left: 2px solid black;
}

.bottom-content:after {
  content: "";
  display: table;
  clear: both;
}


.obj-tabl001, .obj-tabl002, .obj-tabl003, .obj-tabl004 {
  border: 2px solid black;
  border-radius: 7px;
  width: 450px;
  height: 60px;
  margin: 12px;
}


.img-tabl {
  float: left;
  position: relative;
  bottom: 21px;
  right: 20px;
}

.tabl-cit {
  float: left;
  height: 10%;
  line-height: 5px;
}

h5 {
  font-size: 25px;
}

.tabl-desc {
  height: 10%;
  font-size: 19px;
  float: left;
  padding-left: 35px;
}

.tabl-degrees {
  font-size: 25px;
  overflow: hidden;
  padding-top: 14px;
}

.tabl-degrees, .tabl-dat-tim, .tabl-cit {
  display: inline-block;
}
