body {
  width: 100%;
  height: 100%;
  background: url('images/sky1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 ;
  padding: 0 ;
}

.main-site {
  font-family: 'Roboto';
}

.logo-name {
  height: 65px;
  margin: 0 auto;
  padding: 50px;
  box-sizing: content-box;
}

.logo-img {
  text-align: center;
  font-weight: bold;
  box-sizing: border-box;
}

.for-main {
  width: 500px;
  height: 600px;
  margin: 0 auto;
  padding: 100px;
  box-sizing: content-box;
}

.list-items {
  box-sizing: border-box;
}

h1 {
  text-align: center;
  font-size: 25px;
}

h2 {
  text-align: center;
  font-size: 25px;
}

.city-form {
  text-align: center;

}

#id_name {
  font-size: 16px;
  border: 2px solid red;
  border-radius: 4px;
  background-color: white;
  background-image: url('images/search.png');
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 10px;
}
