<!DOCTYPE HTML!>
{% load static %}
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Amaranth|Roboto:500i&display=swap" rel="stylesheet">
    <title>WeatherTest</title>
    {% block extra_head %}{% endblock %}
  </head>
  <body>
    <div class="main-site">
      <header class="head-top">
        <div class="logo-top">
          <div class="time-top">
            <p>14:59</p>
          </div>
          <div class="date-top">
            <p>14.09.2009</p>
          </div>
          <div class="logo">
            <span class="logo-img"><span>
          </div>
        </div>
      </header>
      <div class="middle-art">
        {% block content %}
        {% endblock %}
      </div>
    </div>
  </body>
</html>
