{% extends 'weather/base.html' %}
{% load static %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'weather/detstyle.css' %}" type="text/css">
{% endblock %}

{% block content %}
<div class="middle-content">
  <div class="form-top">
    <form action="{% url 'city_site' %}" method="POST" class="city-form">
      {% csrf_token %}
      <label for="id_name"></label>
      <input type="text" name="city" maxlength="25" required="" placeholder="Search location..." id="id_name">
    </form>
  </div>
  <div class="hori-elements">
    <div class="item001">
      <div class="place-n">
        <h3>Poznań</h3>
      </div>
      <div class="img-weat">
        <img src="sun.png" height="45" width="45">
      </div>
      <div class="degrees">
        <span class="dg-st">15°C</span>
      </div>
    </div>
    <div class="item002">
      <div class="place-n">
        <h3>Gniezno</h3>
      </div>
      <div class="img-weat">
        <img src="sun.png" height="45" width="45">
      </div>
      <div class="degrees">
        <span class="dg-st">22°C</span>
      </div>
    </div>
    <div class="item003">
      <div class="place-n">
        <h3>Warszawa</h3>
      </div>
      <div class="img-weat">
        <img src="sun.png" height="45" width="45">
      </div>
      <div class="degrees">
        <span class="dg-st">28°C</span>
      </div>
    </div>
    <div class="item004">
      <div class="place-n">
        <h3>Amsterdam</h3>
      </div>
      <div class="img-weat">
        <img src="sun.png" height="45" width="45">
      </div>
      <div class="degrees">
        <span class="dg-st">5°C</span>
      </div>
    </div>
    <div class="item005">
      <div class="place-n">
        <h3>Paryż</h3>
      </div>
      <div class="img-weat">
        <img src="sun.png" height="45" width="45">
      </div>
      <div class="degrees">
        <span class="dg-st">8°C</span>
      </div>
    </div>
  </div>
</div>
<div class="betwen-content">
  <div class="actual-weat-block">
    <div class="head-desctr-acc">
      <h4>{{ city_weather.city }}</h4>
      <p>{{ city_weather.country }}</p>
    </div>
    <div class="cit-details">
      <div class="cit-acu-name">
        <div class="town-txt">
          <p>{{ city_weather.city }}</p>
        </div>
        <div class="country-txt">
          <p>{{ city_weather.country }}</p>
        </div>
      </div>
      <div class="weat-img-deg">
        <div class="det-img">
          <img src="http://openweathermap.org/img/wn/{{ city_weather.icon }}@2x.png" height="80" width="80">
        </div>
        <div class="degrees-det">
          <span class="deg-det">{{ city_weather.temperature }}°C</span>
        </div>
        <div class="desc-deg">
          <p> {{ city_weather.weather }} </p>
        </div>
      </div>
      <div class="weat-det-tbl">
        <div class="tbl-det-01">
          <div class="plea-acu">
            <p class="deta-txt">Pressure: {{city_weather.pressure }} hPa</p>
          </div>
          <div class="wind-acu">
            <p class="deta-txt">Wind: {{ city_weather.wind }} m/s </p>
          </div>
          <div class="humi-acu">
            <p class="deta-txt">Humidity: {{ city_weather.humidity }} % </p>
          </div>
        </div>
      </div>
      <div class ="weat-rise-set">
        <div class="sunrise-det">
          <p class="deta-txt">Sunrise: {{ city_weather.sunrise }}</p>
          <span class="icon-up-open"></span>
          <span class="icon-sunrise"></span>
        </div>
        <div class="sunset-det">
          <p class="deta-txt">Sunset: {{ city_weather.sunset }} </p>
          <span class="icon-down-open"></span>
          <span class="icon-sunrise"></span>
        </div>
      </div>
    </div>
  </div>
  <div class="det-right-men">
    <div class="img-four">
      <p>Image gallery:</p>
      <div class="dubl-img-01">
        <p>Spring:</p>
        <img src="spring.jpg" class="image-con-lft">
      </div>
    </div>
  </div>
</div>
<div class="bottom-content">
  <div class="foreca-colums">
    <p>Forecast for every 3 hours: </p>
    <div class="foreca-colums-conten">
      <div class="column01">
        <div class="obj-tabl001">
          <div class="img-tabl">
            <img src="http://openweathermap.org/img/wn/{{ city_weather.for_icon.0 }}@2x.png" height="45" width="45">
          </div>
          <div class="tabl-cit">
            <p>{{ city_weather.for_time_date.0.0 }}</p>
            <p>{{ city_weather.for_time_date.0.1 }}</p>
          </div>
          <div class="tabl-desc">
            <p>{{ city_weather.for_description.0 }}</p>
          </div>
          <div class="tabl-degrees">
            <span class="degre-numb">{{ city_weather.for_temp.0 }}°C</span>
          </div>
        </div>
        <div class="obj-tabl002">
          <div class="img-tabl">
            <img src="http://openweathermap.org/img/wn/{{ city_weather.for_icon.1 }}@2x.png" height="45" width="45">
          </div>
          <div class="tabl-cit">
            <p>{{ city_weather.for_time_date.1.0 }}</p>
            <p>{{ city_weather.for_time_date.1.1 }}</p>
          </div>
          <div class="tabl-desc">
            <p>{{ city_weather.for_description.1 }}</p>
          </div>
          <div class="tabl-degrees">
            <span class="degre-numb">{{ city_weather.for_temp.1 }}°C</span>
          </div>
        </div>
        <div class="obj-tabl003">
          <div class="img-tabl">
            <img src="http://openweathermap.org/img/wn/{{ city_weather.for_icon.2 }}@2x.png" height="45" width="45">
          </div>
          <div class="tabl-cit">
            <p>{{ city_weather.for_time_date.2.0 }}</p>
            <p>{{ city_weather.for_time_date.2.1 }}</p>
          </div>
          <div class="tabl-desc">
            <p>{{ city_weather.for_description.2 }}</p>
          </div>
          <div class="tabl-degrees">
            <span class="degre-numb">{{ city_weather.for_temp.2 }}°C</span>
          </div>
        </div>
        <div class="obj-tabl004">
          <div class="img-tabl">
            <img src="http://openweathermap.org/img/wn/{{ city_weather.for_icon.3 }}@2x.png" height="45" width="45">
          </div>
          <div class="tabl-cit">
            <p>{{ city_weather.for_time_date.3.0 }}</p>
            <p>{{ city_weather.for_time_date.3.1 }}</p>
          </div>
          <div class="tabl-desc">
            <p>{{ city_weather.for_description.3 }}</p>
          </div>
          <div class="tabl-degrees">
            <span class="degre-numb">{{ city_weather.for_temp.3 }}°C</span>
          </div>
        </div>
      </div>
      <div class="column02">
        <div class="obj-tabl001">
          <div class="img-tabl">
            <img src="http://openweathermap.org/img/wn/{{ city_weather.for_icon.4 }}@2x.png" height="45" width="45">
          </div>
          <div class="tabl-cit">
            <p>{{ city_weather.for_time_date.4.0 }}</p>
            <p>{{ city_weather.for_time_date.4.1 }}</p>
          </div>
          <div class="tabl-desc">
            <p>{{ city_weather.for_description.4 }}</p>
          </div>
          <div class="tabl-degrees">
            <span class="degre-numb">{{ city_weather.for_temp.4 }}°C</span>
          </div>
        </div>
        <div class="obj-tabl002">
          <div class="img-tabl">
            <img src="http://openweathermap.org/img/wn/{{ city_weather.for_icon.5 }}@2x.png" height="45" width="45">
          </div>
          <div class="tabl-cit">
            <p>{{ city_weather.for_time_date.5.0 }}</p>
            <p>{{ city_weather.for_time_date.5.1 }}</p>
          </div>
          <div class="tabl-desc">
            <p>{{ city_weather.for_description.5 }}</p>
          </div>
          <div class="tabl-degrees">
            <span class="degre-numb">{{ city_weather.for_temp.5 }}°C</span>
          </div>
        </div>
        <div class="obj-tabl003">
          <div class="img-tabl">
            <img src="http://openweathermap.org/img/wn/{{ city_weather.for_icon.6 }}@2x.png" height="45" width="45">
          </div>
          <div class="tabl-cit">
            <p>{{ city_weather.for_time_date.6.0 }}</p>
            <p>{{ city_weather.for_time_date.6.1 }}</p>
          </div>
          <div class="tabl-desc">
            <p>{{ city_weather.for_description.6 }}</p>
          </div>
          <div class="tabl-degrees">
            <span class="degre-numb">{{ city_weather.for_temp.6 }}°C</span>
          </div>
        </div>
        <div class="obj-tabl004">
          <div class="img-tabl">
            <img src="http://openweathermap.org/img/wn/{{ city_weather.for_icon.7 }}@2x.png" height="45" width="45">
          </div>
          <div class="tabl-cit">
            <p>{{ city_weather.for_time_date.7.0 }}</p>
            <p>{{ city_weather.for_time_date.7.1 }}</p>
          </div>
          <div class="tabl-desc">
            <p>{{ city_weather.for_description.7 }}</p>
          </div>
          <div class="tabl-degrees">
            <span class="degre-numb">{{ city_weather.for_temp.7 }}°C</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="bot-right-men">
    <div class="menu-ver-list">
      <div class="itm-mnu-nme-01">
        <p>duashdas</p>
      </div>
      <div class="itm-mnu-nme-02">
        <p>opdjasiod</p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
