{% extends 'weather/base.html' %}

{% load static %}
{% block extra_head %}<link rel="stylesheet" href="{% static 'weather/detstyle.css' %}">{% endblock %}

{% block content00 %}
  <div class="bot-sun">
    <div class="left-sun">
      <p class="sun-txt">sunset:</p>
    </div>
    <div class="right-sun">
      <p class="rise-txt">sunrise:</p>
    </div>
  </div>
{% endblock %}

{% block content %}
  <div class="weat-block">
    <p class="city-w">{{ city_weather.city }}</p>
    <p class="temp-w">{{ city_weather.temperature }}° C</p>
    <p class="weat-w">{{ city_weather.weather }}</p>
    <img src="http://openweathermap.org/img/wn/{{ city_weather.icon }}@2x.png" class="icon-w">
  </div>
{% endblock %}
