<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>WeatherApp</title>
    <link rel="stylesheet" href="{% static 'weather/style.css' %}">
  </head>
  <body>
    <div class="main-site">
      <header class="logo-name">
        <div class="logo-img">
          <h1>WeatherApp</h1>
        </div>
      </header>
      <div class="for-main">
        <div class="list-items">
          <div class="city-field">
            <h2>Select your city:</h2>
            <form action="{% url 'main_site' %}" method="POST" class="city-form">
            {% csrf_token %}
              <label for="id_name">City:</label>
              <input type="text" name="city" maxlength="25" required="" id="id_name">
              <input type="submit" value="search" class="search-city">
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
